[2016-03-16 17:40] iainmwallace opened #2 "Add labels to edges?"
Awesome package!

I was wondering if if it is possible to add labels to edges?

Thanks

Iain

[2016-03-21 18:38] Saadman opened #3 "Using fruchterman reingold layout"
Hello. I have been using this package for a few weeks for one of my projects. At this point,I'm stuck with the layout properties because the htmlwidget only supports a certain number of layouts. For my project, I need to implement fruchterman reinold layout algorithm but I don't know how to do it. Could someone kindly help me with this?

[2018-09-04 20:13] maxkfranz opened #6 "Use of `ready()` in `renderValue()`"
Generally, `ready()` should be used only for things that rely on async things from init happening first before your `ready()` code, but that doesn't seem to be the case here:

https://github.com/cytoscape/cyjShiny/blob/9a69ccb2a399465a136811a99f4f8d62c1b40379/inst/browserCode/src/cyjShiny.js#L37-L47

- [ ] The setting of the container dimensions should be done in CSS or in the style attribute of t

[2018-09-04 20:15] maxkfranz opened #7 "Use of `console.log()`"
While useful for debugging, these should be removed at least in prod builds.

You can use NODE_ENV and the environment webpack plugin for this, e.g.

[code]

An approach like above should be used or the messages should be removed altogether.

[2018-09-04 20:17] maxkfranz opened #8 "Use of `redraw` message"
It's not clear to me what the `redraw` message is for.  It shouldn't be necessary to do something like this when you update the element data.

[2018-09-04 20:19] maxkfranz opened #9 "`setNodeAttributes` should just call `node.data()`"
- [ ] Using a selector is slower than `cy.getElementById()`.
- [ ] Use `node.data()` instead of `Object.defineProperty()`.
- [ ] `self.cyj.style().update();` is unncessary.

[2018-09-04 20:22] maxkfranz opened #10 "`getSelectedNodes` doesn't return anything"
Is it supposed to return a list of node IDs?

[2018-09-06 19:00] paul-shannon opened #11 "widget resizing needs work"
The strategy to follow is described [here](http://www.htmlwidgets.org/develop_sizing.html).

[2018-09-06 19:02] paul-shannon commented on #9
Thanks, Max.   I will make these changes.

[2018-09-06 19:04] paul-shannon commented on #8
@maxkfranz This is probably left over from my early experiments with cyjs a few years ago.   I will revisit this function.

[2018-09-06 19:05] paul-shannon commented on #7
@maxkfranz  great tip.  thanks.

[2018-09-06 19:42] paul-shannon commented on #6
@maxkfranz  - thanks.   I hoped to get suggestions of exactly this sort.

[2018-09-11 00:53] paul-shannon commented on #10
Fixed:  a list of node IDs is returned and, in tinyApp.R (which needs a better name), displayed.
Better than returning only a simple list would be a data.frame.
A worthwhile option:  optionally emit ````Shiny.setInputValue```` with every javascript selectionion event, so that R can display a data.frame, or list, of the current selection, without requiring an explicit press of the ````Get Selected

[2018-09-11 18:36] #10 closed

[2018-09-11 18:49] paul-shannon opened #12 "support data.frame (and other) graph data structures; convert to cyjs JSON"
@erickfvelasquez requests support for data.frame graph representations.
This will appear in R/graphsToJSON.R which now only handles graphNELs.
igraph support will come.

[2018-09-12 21:21] erickfvelasquez commented on #12
@paul-shannon
# Convert R dataframes objects to cytoscape.js JSON

#Takes in nodeData and edgeData dataframes with ("id", "name") and ("source", "target") columns respectively
#nodeShepe, nodeHeight, nodeWidth, nodeLabelColor, edgeColor, edgeSourceShape, edgeTargetgetShape, and nodeHref are preset but can be changed if desired
#returns a list of lists with nodes and edge information
createcyjNetwo

[2018-09-12 21:37] paul-shannon commented on #12
I think I see. (An introduction to this comment would have been helpful!).

I propose a different strategy:

   1) multiple representations of graphs (networks) in R are supported
       a) graphNEL from the bioc graph package
       b) data.frames in your preferred style
       c) (soon) the igraph data structure

   2) cyjShiny, in the server side R code converts each of these to a proper cytosc

[2018-10-09 16:31] paul-shannon commented on #11
Resizing is not an internal cyjShiny widget problem after all,  nor it it easily solved.  It is a consequence of the fluidPage  offered (and most often used) by Shiny.  An alternative, significantly harder to use, and therefore a poor option for most developers who wish to the cyjShiny widget, is [filledPage](https://shiny.rstudio.com/reference/shiny/0.14/fillPage.html).  Note, in the example prov

[2018-10-09 16:31] #11 closed

[2018-10-09 17:54] paul-shannon commented on #9
Done.   package version 0.99.21
@maxkfranz - it  took me a while to figure out I needed to make ````attributeName```` an array.
[code]

[2018-10-09 18:14] maxkfranz commented on #9
Yes, that's just es6 syntax sugar for this:

[code]

[2018-10-15 17:53] #9 closed

[2018-10-15 18:30] paul-shannon commented on #7
@maxkfranz I implemented a simple version of your suggestion.  Adequate?  It avoids adding another npm module.  Manipulation of development|production status is hard-coded, but perhaps not too awful.
[code]

[2018-10-16 01:55] maxkfranz commented on #7
If you're fine with hard-coding that value, that's fine.  Otherwise it's best to use something like `process.env.NODE_ENV === 'development'` with the webpack env plugin: https://webpack.js.org/plugins/environment-plugin/

`NODE_ENV` is the standard environment variable, but you could use something different if that would integrate better with the other things you're building in your Makefile.

[2018-10-16 18:09] paul-shannon commented on #7
@maxkfranz  I'll give it a try.   webpack plugins are a little opaque to me at this point.  Are these steps about right?

- use npm to install  ````webpack.EnvironmentPlugin````
- configure webpack.config.js to load that plugin by adding it to the module.exports.plugins array
- create a make target (in ```` ~/github/cyjShiny/browserCode/makefile````) which sets and exports the bash environment var

[2018-10-16 20:58] maxkfranz commented on #7
It should be built-in

yes

yes

yes

`arguments` is a keyword that can be used for variadic functions in js.  It's an array-like object that contains all the arguments passed to the function.  It's useful if your logging function accepts multiple arguments like `console.log()` does, e.g. `console.log('this is the value of foo', foo)`.

[2018-12-12 14:08] CosteaPaul opened #13 "Breaks datatable"
Trying to use cyjShiny and DT in the same app, but after adding cyjShiny, DT stops working.
I get a js error saying DataTable is not a function.

This only happens if "cyjShinyOutput('cyjShiny')" is in the UI. Comment that out, and everything is fine! So....something going on with that div?

Since i imagine a lot of people who would like to use cyj use DT a lot, i'm filing this as an issue here...

[2018-12-12 19:19] paul-shannon commented on #13
@CosteaPaul  - Thanks for the bug report.   I was able to reproduce it.

Do you see this error message in your javascript console?
[code]
That ````DataTable```` is not defined may be caused by cyjShiny having jQuery loaded twice: once in my package.json, once in Shiny.   This stackoverflow [post](https://stackoverflow.com/questions/31227844/typeerror-datatable-is-not-a-function) suggests as much.

[2018-12-12 19:38] paul-shannon commented on #13
@CosteaPaul - I think I have this fixed.    Adding a call to ````jQuery.noConflict()```` at the top of cyjShiny.js seems to be all that is needed.

Committed in version 0.99.27 of the package, just now.
Let me know if this solves your problem.
A sample shinyApp with cyjShiny and DT: [inst/examples/withDT/app.R](https://raw.githubusercontent.com/cytoscape/cyjShiny/master/inst/examples/withDT/app.R)

[2018-12-13 08:45] CosteaPaul commented on #13
Indeed, this is now fixed. Thanks!

[2018-12-13 08:45] #13 closed

[2019-01-17 15:15] CosteaPaul opened #14 "Persisten graph style"
Under my use-case, the user can select which nodes they want to see (so they're not always looking at 1000 things), so the graph is redrawn quite often (with a call to cyjShiny()).
This call ends up resetting the style of the graph (cyjShiny.js line 49), so it has to be set again (i'm doing it using the loadStyleFile() function). This is rather annoying.

Would be great if a style specification co

[2019-01-17 15:37] paul-shannon commented on #14
@CosteaPaul Adding a style specification to the constructor is a good idea.

I propose that I add a parameter to the constructor, default NA, which is a json style filename, as seen now in  ```loadStyleFile```.  Rather than, for instance, supporting an R object which jsonlite can convert to a proper json representation.

Your thoughts?

[2019-01-18 08:30] CosteaPaul commented on #14
Sounds great! :)
I could also do it and create a merge request...

[2019-02-14 14:04] alptaciroglu opened #16 "Using with rsconnect to deploy shinyApp"
I would like to deploy my shiny app, which uses this package. This package falls into the category of private packages (I think) described in the link:

https://support.rstudio.com/hc/en-us/articles/226871467-Package-management-in-RStudio-Connect

After several failed attempts on how to apply the support document instructions on cyjShiny, I wanted to ask if anyone here has encountered and know a s

[2019-02-14 15:15] paul-shannon commented on #16
I am the author and maintainer of cyjShiny.  Your bug report is most welcome - I will do what I can to help.

Can you provide a detailed error report - sufficiently detailed so that I can reproduce the difficulty you encountered?

 - Paul

[2019-02-14 15:49] alptaciroglu commented on #16
Hey Paul, thanks for your answer.

Thanks in advance.

Here is what I get:

Preparing to deploy application...Update application currently deployed at
https://diagnose.shinyapps.io/odyssey/? [Y/n] Y
DONE
Uploading bundle for application: 310926...DONE
Deploying bundle: 1876337 for application: 310926 ...
Waiting for task: 587465137
  building: Processing bundle: 1876337
  building: Parsing manifes

[2019-02-14 16:13] cannin commented on #16
Are you using rcytoscapejs or cyShiny? The log says rcytoscapejs. The underlying code is completely different. We decided to deprecate rcytoscapejs in favor of cyShiny because of cytoscapejs changes that made it hard to update to newer versions in rcytoscapejs. At this point rcytoscapejs makes use of a very old version of cytoscapejs; we redirect people to cyShiny to make them aware of the problem

[2019-02-14 17:03] alptaciroglu commented on #16
Oh that actually explains quite a bit. I started writing that app quite a while ago and did not make any changes to rcytoscapejs part. So I am using the old rcytoscapejs part.

Though, I installed from zip file in the ->  https://github.com/cytoscape/cyjShiny.git
and was able to call it like old ways -> library(rcytoscapejs). Guess this is the intended way for old users.

But anyways, If I conjure

[2019-02-14 18:50] cannin commented on #16
I imagine the packrat part should work (or have a clearer solution).

[2019-02-18 18:12] alptaciroglu commented on #16
I will try then with newer code. Closing this as my problem was related to using older version of the package.

[2019-02-18 18:12] #16 closed

[2019-03-05 18:01] paul-shannon opened #17 "Set Node size / color / shape"
@alptaciroglu posted an issue to paul-shannon/cyjShiny (just now belatedly archived, made read-only) about "bypass" methods for controlling node color and size.

In response, I offer a new example  [tinyApp.R](https://github.com/cytoscape/cyjShiny/tree/master/inst/examples/tinyApp)
![image](https://user-images.githubusercontent.com/2480712/53826503-9822b380-3f2d-11e9-86ce-41089a455f0d.png)

and th

[2019-03-06 09:16] alptaciroglu commented on #17
Thanks a lot Paul! This looks very good indeed. I wanted to play around with the script, change stuff and see how it works. One question though: where do you get dataFramesToJSON() function in the tinyApp.R example you created? I could not find the related documentation. Thanks again!

[2019-03-12 02:29] erickfvelasquez commented on #17
I found the dataFramesToJSON() function in the man directory. Should be installed when you install the package with devtools::install(). Afterwards you can just access the documentation through ?dataFramesToJSON. Hope this helps!

[2019-03-12 02:38] paul-shannon commented on #17
thanks, eric, for picking up this thread.  I had let it slip.

Actually an R package's man directory is for documentation - dataFramesToJSON is described there, as you found.  The actual source code is here, the package’s R directory:

  https://github.com/cytoscape/cyjShiny/tree/master/R/graphsToJSON.R

[2019-03-12 07:44] erickfvelasquez commented on #17
Thanks for clarifying! I'm wondering why your sort nodes in graphsToJSON?

`nodes <- sort(unique(c(tbl.edges$source, tbl.edges$target, tbl.nodes$id)))`

It's giving me problems when I define attributes to certain nodes in a dataframe format, since it reorders the IDs in alphabetical order. For example, let's say I created the following dataframe

[code]

it would be reorder like this:
[code]
Messi

[2019-03-21 21:37] aheilbut opened #18 "javascript issue with Chrome?"
When running the example using Chrome, the scripts on the browser side raise a syntax error:

"Use of reserved word 'let' in strict mode"

It does, however, work nicely with Firefox, and the regular RCyjs works with Chrome.

(I didn't yet attempt to rebuild the all the javascript from source, but is it something to do with the javascript version that is targeted by webpack?)

[2019-03-23 13:09] paul-shannon commented on #18
Thanks for the report, Adrian.

Can you attach a screen shot of the Chrome javascript console - which will report the line number and other context of the error?   I do most of my testing in Chrome and have not yet noticed the syntax error.

 - Paul

[2019-03-28 11:58] alptaciroglu commented on #17
Hello again,

So I was trying to implement the example you worked on @paul-shannon

On loading the biologicalStyle, I get

############################################################
The changes I made;

I added:

`source('graphsToJSON.R', local=TRUE)` to tinyApp.R file

I added:

`selectInput("doLayout", "Select Layout:",
                    choices=c("cose",
                              "cola"

[2019-06-18 14:32] cavei opened #19 "save/export network image"
Hi,
I would like to save/export the network created by the app.
Is it possible to export in PNG format for example?

Thanks a lot!

Paolo

[2019-06-18 16:25] layerswing commented on #19
I used:
`var png64 = cy.png();`
which generates a base64 png that can be a src for an img or you can add it to a canvas.

    var canvas = document.getElementById('myCanvas');
    var ctx = canvas.getContext('2d');
    var myImage = new Image();
    myImage.onload = function () {
       ctx.drawImage(myImage, 0, 0);
    };
    myImage.src = myPNG;

[2019-06-18 17:18] paul-shannon commented on #19
@cavei @b2b - Shall I add an adaptation oof b2b's code into the package such that there is a new R api for getting the network into a file in PNG format?

[2019-06-18 17:38] layerswing commented on #19
If somebody wants a snapshot from a (dynamically changing) network it is a good idea to have a save it in png file option.

[2019-06-18 22:17] paul-shannon commented on #19
@cannin @b2b version 0.99.40 - just commited - has the new function
[code]
whose use is demonstrated  in
[code]
Let me know if this is what you were looking for.

[2019-06-19 07:54] cavei commented on #19
@paul-shannon Yes, it works for me! Thanks a lot to all.

[2019-06-19 07:54] #19 closed

[2019-08-22 11:12] saksham219 opened #20 "Highlight edges and neighbouring nodes on clicking a node"
Great package!
I was wondering if there is a way to highlight the edges of a node and its connected nodes on clicking it.
Thanks!

[2019-08-22 12:47] paul-shannon commented on #20
@saksham219
Interactively (with your mouse)?  or programmatically?

 - Paul

[2019-08-22 15:40] saksham219 commented on #20
It would be good to have both. I am thinking of a dense network of nodes where the users might want to know the connection of one node to another by clicking on it or they might want to search using text for a node in a network which contains a lot of nodes.

[2019-08-27 13:38] paul-shannon commented on #20
Hi Saksham,

Sorry for my delay in following up.

These capabilities are already present, pretty much…  Next week I’ll have some time to create a shiny webapp demonstrating this.  You might want to experiment yourself before that:

  1) manual selection: shift-clicking on nodes and edges will select them one at a time
  2) hide-unselected followed by fit will leave only the selected nodes and edge

[2019-09-01 14:40] paul-shannon commented on #20
@oshah97 Heh Omar,  here's a request I'd love to get your help on.  Could you give it a look?

[2019-09-03 08:59] OmarShah-dev commented on #20
Yes, on it!
________________________________
From: Paul Shannon <notifications@github.com>
Sent: Sunday, September 1, 2019 7:40 AM
To: cytoscape/cyjShiny <cyjShiny@noreply.github.com>
Cc: Omar Shah <oshah97@outlook.com>; Mention <mention@noreply.github.com>
Subject: Re: [cytoscape/cyjShiny] Highlight edges and neighbouring nodes on clicking a node (#20)

@oshah97<https://github.com/oshah97> Heh Om

[2019-09-03 18:14] cannin opened #21 "Documentation Issue: Graph or cyJSON"
On this file:

https://github.com/cytoscape/cyjShiny/blob/5579e9f347a9a71f9167872f533d130e1ef5f906/R/cyjShiny.R#L16

the help makes it seems the input is a graphNEL object, but in the examples:

https://github.com/cytoscape/cyjShiny/blob/898bab836cb1af4d38642ca665ef429be3474e7a/inst/unitTests/cyjShinyDemo.R#L18

It seems like the input is actually a graph converted to JSON. Should the documentatio

[2019-09-03 23:17] paul-shannon commented on #21
Thanks, Augustin.  We will get to this by the end of the week.

 - Paul

[2019-09-05 18:27] paul-shannon commented on #21
@cannin
I improved the documentation along the lines you proposed - thanks for pointing this out.  Let me know what you think.

Also, this package is overdue for automated tests.  Coming soon!
[code]

[2019-09-06 22:11] cannin commented on #21
This is good thanks.

[2019-09-06 22:11] #21 closed

[2019-09-06 22:29] cannin opened #22 "htmlwidgets work in shinyApp, not yet in RStudio"
Reference to this issue: https://github.com/ramnathv/htmlwidgets/issues/321

One part in the debugging is clicking the open icon marked with the red box:

<img width="460" alt="Screen Shot 2019-09-06 at 6 12 32 PM" src="https://user-images.githubusercontent.com/790284/64463440-09f0db00-d0d2-11e9-87f9-e094b415df5a.png">

after running this:

[code]

In the browser window, you'll have access to the

[2019-11-19 10:18] Jinchao-Yu opened #23 "dataFramesToJSON doesn't read x and y for "preset" layout"
In "preset" layout, normally, data "position": {"x"=nn, "y"=mm} can be loaded and used as coordinates. However, dataFramesToJSON cannot load "x" and "y" (or anything like position.x) from dataframe. Therefore, if one uses dataframe as graph source, "preset" layout in fact doesn't work.

This can be very problematic if one wants to load predefined network layout, or wants to show a big network (ex:

[2019-11-19 17:54] paul-shannon commented on #23
@Jinchao-Yu   Thanks for the bug report.
Can you provide - it would be a good help - a reproducible, minimal example of this problem?

[2019-11-20 09:39] Jinchao-Yu commented on #23
Hi @paul-shannon . First of all, it is rather an improvement than a bug. Because with json input we can use preset coordinates but we cannot with dataframe. In fact, it is better if a small doc can be provided to explain which column names are used by cyjshiny, for example for nodes, "id". And as I tested, "parent" is also one, useful for composite nodes. Now in this issue, I suggest adding "x", "

[2019-11-20 14:14] Jinchao-Yu opened #24 "[Bug] setNodePositions doesn't work properly when id contains apostrophe"
Hello, when node ID contains an apostrophe, setNodePositions cannot set all posistion correctly. Please see the example (with Shiny) below. If the ID of B'3 is replaced by B3, it can work correctly again.

[code]

[2019-11-20 16:04] paul-shannon commented on #23
Excellent - thank you.  I will work on this before the end of the week.

 - Paul

[2019-11-25 20:28] paul-shannon commented on #24
@Jinchao-Yu Your useful request - to support x,y positions in the data.frame method - provides a good opportunity to refactor the graphsToJSON functions.   I created a new branch to support that.  I will keep you posted on my progress.

[2019-12-03 19:07] paul-shannon commented on #23
@Jinchao-Yu  Despite appearances, I *am* working on this - in the midst of some other tasks.  I have just standardized and unified json graph and json style input.  I had used a few different versions of these file formats before; they now all get transformed to a standard data structure when read in.

This sets the stage for implementing your suggestion - to heed x and y positions if supplied in

[2019-12-06 01:48] paul-shannon commented on #23
@Jinchao-Yu
Here's the convention I settled on, using ```xPos``` and ```yPos ``` data.frame column names:
[code]
Resulting in this layout:
![image](https://user-images.githubusercontent.com/2480712/70287852-4097c980-1785-11ea-9f38-936a3ab14a1d.png)

If you are feeling bold, these changes are in the ```refactor-graph-dataFrame-toJSON``` branch, package version 1.0.6, tested via "make && make test"

[2019-12-07 20:13] Jinchao-Yu commented on #23
Thank you. I'll try in a week.

On Fri, Dec 6, 2019 at 2:48 AM Paul Shannon <notifications@github.com>
wrote:

[2019-12-12 14:04] Jinchao-Yu commented on #23
@paul-shannon Thanks. It works in my case using this new branch. I need to remind you that you use "xPos" and "yPos" instead of my suggested "x" and "y". But in this case, you may need to modify cyjShiny::setNodePositions for consistency as it takes a tibble of 3 columns: "id", "x", and "y".

[2020-01-06 19:26] paul-shannon commented on #23
@Jinchao-Yu  Following your suggestion, "xPos" and "yPos" are replaced by simple "x" and "y" columns in the nodes data.frame.    ```inst/unitTests/testGraphsToJSON.R```  tests all pass, as does ```inst/examples/dataFrameGraphWithAnimation/app.R```.   I'll be grateful if you could run your tests as well, as an extra precaution, before I merge this branch back into master.

[2020-01-08 02:23] paul-shannon commented on #23
merged branch with master.
note that ```style_file```` parameter to cyjShiny constructor now follows our camelCase standard: ````styleFile````

[2020-01-08 02:23] #23 closed

[2020-01-08 14:12] Jinchao-Yu commented on #23
@paul-shannon Thanks. I replaced xPos and yPos and it worked well (I had noticed styleFile change last time and modified accordingly). Bravo.

[2020-06-14 06:19] nhanvu327 commented on #20
hello, any news on this ?

[2020-06-15 15:44] paul-shannon commented on #20
@nhanvu327 - I will get to this (after too long!) by the end of the week.  @saksham219 - apologies for letting this lapse.

[2020-06-16 06:52] nhanvu327 commented on #20
thanks @paul-shannon , looking forward to it

[2020-06-19 17:50] paul-shannon commented on #20
@nhanvu327 I've been slowed down a bit, needing build advice from cytoscape.js author, Max Franz.  So expect delivery on this next week.

[2020-06-25 13:55] paul-shannon commented on #20
@nhanvu327 - One more, sorry.   Two competing deadlines I cannot ignore.

[2020-09-15 23:53] OmarShah-dev commented on #20
How is this issue coming along? Is there any thing I can do to help get this issue closed? :)

[2020-09-16 00:59] paul-shannon commented on #20
Hi Omar,

Alas, I never got around to this.  Then it slipped out of my memory…

So it still needs doing.  Do you have some time?  I can follow if you take the lead.

 - Paul

[2020-09-16 10:09] OmarShah-dev commented on #20
Hi Paul,

I will have a few hours a week to dedicate to this - hopefully we'll be able to get this resolved in a few weeks, and continue to add new features!

Do you remember where this particular issue was left off?

Omar

[2020-09-17 14:52] paul-shannon commented on #20
Hi Omar,

Thanks for helping with this!

Here are my notes from when, in June, I left this incomplete.   This process got started when I went to do a fresh build, from the bottom up, using npm and webpack to assemble a current cytoscape.js file.  My npm & webpack were out of date, so those tools auto-updated.  But not smoothly.  Hundreds, if not thousands of separate and often cross-dependent soft

[2020-10-15 17:12] paul-shannon opened #26 "drop webpack and all of its complexities"
Hi @oshah97

new branch "abandonWebPack" is working.
I suggest:
[code]
The magic glue (pretty opaque to me) is
[code]
Some possibly useful layout options are not included.

[2020-10-17 11:29] OmarShah-dev commented on #26
@paul-shannon Received! Thank you.

[2020-10-23 14:50] OmarShah-dev commented on #26
Hi Paul,
It looks like I'm running into some errors with the build. Here's what happens:

<img width="629" alt="Screenshot 2020-10-23 at 16 46 03" src="https://user-images.githubusercontent.com/29240354/97018426-6e2d6300-154f-11eb-824c-70c4516fc9c7.png">
<img width="1196" alt="Screenshot 2020-10-23 at 16 46 15" src="https://user-images.githubusercontent.com/29240354/97018470-77b6cb00-154f-11eb-8a4

[2020-10-23 15:20] paul-shannon commented on #26
Hi Omar,

The “demo” target in the makefile (in the abandonWebPack branch) looks like this:

demo:
	(cd inst/unitTests; R -f cyjShinyDemo.R )

Do you see that too?  Your error message says there is no “demo” target.  Let’s make sure you are on the right branch, with a fresh pull, just in case.

port 9876 is specified here:

bash> tail inst/unitTests/cyjShinyDemo.R

    output$value <- renderPrint(

[2021-02-07 19:03] paul-shannon opened #29 "simplify build w/o losing layout plugins?"
See this stackoverflow thread for a description of the problem (high complexity of webpack-based build) and the limits of building from the single cytoscape.js file Max Franz provides:

   https://stackoverflow.com/questions/62417689/simplest-build-system-for-cytoscape-js/62475513#62475513

[2021-02-22 18:04] patelaryan7751 commented on #29
@paul-shannon actually i am looking closely to this issue can you give some more info on this ?

[2021-02-22 20:34] paul-shannon commented on #29
@patelaryan7751 ,  The goal is to create a minimal build system which combines the current cytoscape.js build (for instance, https://github.com/cytoscape/cytoscape.js/blob/master/dist/cytoscape.cjs.js) with other plugins not included in the build.

I want to avoid webpack and npm - because both bring in a huge number of files, require a commitment to a sprawling build system.

We need it small.  M

[2021-05-13 17:19] cannin opened #31 "Possible to Avoid Build Using Pre-Built CDN Versions?"
Is it possible to avoid the build using a version from here: https://js.cytoscape.org/#getting-started/including-cytoscape.js (example: https://www.jsdelivr.com/package/npm/cytoscape?path=dist)

[2021-05-18 22:26] paul-shannon commented on #31
@cannin Thanks for this suggestion, Augustin.   I found this too, and tried it out.  It works, and works with great simplicity, for many uses.   But some of the more-or-less standard layout algorithms are omitted.   I asked Max about this, and he said that drawing the line -- deciding what libraries to include, which to leave out - was never a simple task.

I hope that our GSoC staffer, @Dharna559

[2021-05-19 20:33] cannin commented on #31
Yes makes sense. I'm curious, what were the "must haves" that you needed that were missing from CDN version? I understand the need for a "core" CDN version. But maybe we can petition Gary and Max to put a more "complete" version on CDN. Projects like Bootstrap have "bundle" version with extra components (https://getbootstrap.com/docs/4.0/getting-started/contents/).

[2021-05-21 16:24] cannin opened #32 "Set up GitHub Actions for Project (GSOC 2021)"
@Dharna5599 this would be a good initial step to know how much work is necessary. It would be good to set up automated CRAN checks for the repository to see how far we are from a successful CRAN submission.

Example:
https://github.com/korkutlab/targetscore/blob/master/.github/workflows/build_check_package.yml

Also, I have also created a project and set of milestones related to this work:

https:

[2021-05-21 17:37] Dharna5599 commented on #32
Thanks, @cannin for setting up the milestones, it became easy to analyze and get started for the task and sure I will start working on it and try to complete them sequentially.

[2021-05-25 19:38] paul-shannon commented on #31
@cannin - good idea.
My "must haves" was reached without much thought.  I noticed that some layout algorithms were missing.

Dharna (@Dharna5599) figured out how to add these to the single file ```bundle.js```.  I have asked her to document the process.

To do justice to "must haves" perhaps we should identify a set of target networks and operations?   With input from the broader community?   Then

[2021-05-25 19:49] paul-shannon opened #33 "first cyjShiny automated test"
@Dharna5599 and I discussed this today.

I propose her first task is to create a minimalist cyjShiny app, say a 3-node, 3-edge graph,  default styling, then evaluate the available shiny test strategies, producing an automated test which runs on any host which has an actual of virtual (headless) web browser.  The test criteria could be built around these methods:

1. getNodes()
2. getEdges()
3. get

[2021-05-26 16:29] Dharna5599 commented on #33
Hi @paul-shannon,
I've figured out the task and have begun working on it l. I intend to start by creating a cyjShiny app in which I will use three nodes and edges, as well as the default style, and then I will add the Shiny test and learn how to use the virtual web browser.

[2021-05-26 16:38] paul-shannon commented on #33
Great!   Be sure to commit your files early and often - even if they do not yet work.

One benefit of this is that I can follow your progress, learn from your efforts, maybe now and again make suggestions.

Thank you!

[2021-05-26 17:17] Dharna5599 commented on #33
Yes sure, I'll do my best to complete the task as quick as possible, and keep you updated on my progress of work everyday via slack or mail. And I'll contact you if I get stuck in the middle.

[2021-05-26 21:37] cannin commented on #33
For CI, I suggest GitHub Actions (see #32). It would be good to try: https://rstudio.github.io/shinytest/articles/shinytest.html Even before browser-based tests, basic CRAN checks should pass.

[2021-05-26 23:00] paul-shannon commented on #33
CRAN - perhaps Bioconductor instead?   RCy3 has been in bioc for several years.

 - Paul

[2021-05-27 07:22] Dharna5599 opened #36 "rmarkdown declaration"
rmarkdown needs to be declared as a soft dependency in the [Description](https://github.com/cytoscape/cyjShiny/blob/master/DESCRIPTION) file. This would not affect existing contributors but the new ones may be affected as previously rmarkdown was guaranteed by knitr but now it is not so.
[https://github.com/yihui/knitr/issues/1864](https://github.com/yihui/knitr/issues/1864)

[2021-05-27 07:24] Dharna5599 commented on #36
Possible solution
Suggestes: rmarkdown
@paul-shannon, may I work on this?

[2021-05-27 13:29] paul-shannon commented on #36
absolutely.

[2021-05-28 08:35] #36 closed

[2021-05-28 08:38] Dharna5599 commented on #33
Hey @paul-shannon,
I have pushed the PR for the first cyjShiny automated test. Kindly review it.

[2021-05-28 16:34] paul-shannon commented on #33
thanks @Dharna5599 - a great start.

I now propose a -simpler- version of that test:
  - create the tiniest, simplest cyjShiny app: no buttons, just one widget, the cyjShiny widget
  - the app starts and simply displays an unstyled 3-node, 3-edge network, then exits
  - it supports no shiny user interaction
  - then make this a shiny test, as you skillfully did yesterday with the more full-feature

[2021-05-28 18:27] Dharna5599 commented on #33
Thank you @paul-shannon,
I've figured out the purpose of the second task. Now I'll try it with the most basic cyjShiny app and see how it runs in the bash shell. Finally, I'll start learning about the R CMD check command and refer to the URL you supplied and make every effort to follow your instructions.

[2021-05-29 11:01] Dharna5599 commented on #31
@paul-shannon, I have done the documentation part which you asked for. Kindly review it.

[2021-06-01 19:51] paul-shannon opened #41 "bump DESCRIPTION version minor number and date with each commit"
Hi @Dharna5599,

Currently:
[code]
Good practice is to increment these with each non-trivial commit.    Bioconductor (perhaps CRAN as well) will only do a fresh build and deploy if the version number is incremented.   We are not yet ready to submit, but this practice is useful nonetheless.

[2021-06-01 20:44] Dharna5599 commented on #41
Sure @paul-shannon,
I will take care of it

[2021-06-02 14:11] #41 closed

[2021-06-02 14:12] paul-shannon commented on #32
we are deferring github actions until ```R CMD check``` with unit tests is working from the shell

[2021-06-02 20:00] paul-shannon commented on #31
@cannin, @Dharna5599

I just created branch ```abandonWebPack-try2```, ready for you to try.
I removed all webpack files,  use the latest cytoscape.js.min (version 3.18.2) in the simplest htmlwidget directory structure:
[code]
These steps set you up to run this version:
[code]
With the demo, open up the javascript console, and try all of the layouts.  You will see that several of them are missing.

[2021-06-07 15:46] paul-shannon opened #42 "shinytest fails to capture nodes and edges"
see ```inst/unitTests/shinyTest_01/tests/shinytest/test_01-expected/*.png```
It is quite likely that this failure has been seen, reported, and maybe addressed by others.
Strategy:

-  search the web, and RStudio community, for similar reports
- create a new, minimal, tiny shiny app which draws a plot.   does shinytest exhibit the same failure?
- keep me informed of your progress & problems at each

[2021-06-07 15:49] Dharna5599 commented on #42
Sure @paul-shannon

[2021-06-09 16:51] paul-shannon opened #45 "explore shinytest with scatterplot demo"
@Dharna5599
1. create a new shiny app in cyjShiny/explore/shinytestBug/scatterPlotDemo/
2. it has a button
3. every time you press the button, a new “random” scatterplot appears
4. but!  initialize the new shiny app with set.seed(17)
5. then when I run the app, I will see the same scatterplots that you see
6. this will give us a REPRODUCIBLE test  (google this term!)

To start, do not add shinytes

[2021-06-10 13:11] paul-shannon commented on #45
@Dharna5599
Please update me with your progress and problems on this issue, by replying here and @mentioning me.
Please write carefully, editing your text as needed.

[2021-06-10 13:28] Dharna5599 commented on #45
Hey @paul-shannon,
Please give me some time I am still exploring it , whenever  I get stuck ..I will reach you out.
Thankyou

[2021-06-11 19:04] Dharna5599 commented on #45
Hey @paul-shannon, I submitted the PR, but it appears that it is displaying two graphs side by side instead of changing with the click of the button. Please assist me in correcting this.
I pushed it in cyjShiny/explore/scatterplot.

[2021-06-11 19:05] paul-shannon commented on #45
Will do, Dharna.  Thanks for the heads up, and the PR.  I will take a close look later today.

[2021-06-11 23:14] paul-shannon commented on #45
see, run and study ```explore/scatterplot/paulsVersion.R```

Some suggestions:  shiny can be very confusing.  Best thing to do is to start with a tiny and minimal app. Then, adding one line (or very few) at a time, GROW it in the direction you need it to go.   When you get the new line (or small group of lines) to work, study everything about the current code, make sure you really truly understand

[2021-06-11 23:23] paul-shannon commented on #45
The essential coding strategy:
1.  create the simplest possible  program,  which eventually can evolve into the program you want
2. get this simple version working
3. study it, study it closely.  be able to explain the purpose and function of every character in the code(truly)
4. then, when you have a solid grasp, and only then, add the next tiny feature
5. go slow, get a solid grasp, don't move a

[2021-06-12 06:24] Dharna5599 commented on #45
Sure @paul-shannon,
I will go through the way you said.
Thanks for the support

[2021-06-12 15:12] Dharna5599 commented on #45
Hey @paul-shannon,
I've pushed the PR once more. The random scatter plot does not change this time when we hit the button, and the result is the same as per the requirement. Kindly review it.
Directory: cyjShiny/explore/scatterplot/newapp.R

Thanks

[2021-06-12 16:26] paul-shannon commented on #45
Hi Dharna,

Didn’t we agree that you would work directly in the branch, forgo PRs?

[2021-06-12 16:40] Dharna5599 commented on #45
Sorry Paul,

I just wanted to ensure if whether I was on the right track before implementing it directly on branch. I'll work directly on the branch from now onwards.
Thank you

[2021-06-12 17:06] paul-shannon commented on #45
Hi Dharna,

Your PR was to the master branch.  We don’t want to update the master until your work on shinytests is complete.   So how about I decline the PR?

 - Paul

[2021-06-12 17:08] Dharna5599 commented on #45
Yes sure

[2021-06-12 17:33] paul-shannon commented on #45
@Dharna5599, some suggestions.

1. your ```newApp.R``` displays vertical lines, not a scatterplot
2.  the plot does not change when I click the button
3. you can take better advantage of github by  modifying your first app, rather than creating a new file

These 3 items are excellent opportunities for study and learning.
In particular, I suggest you do a close study, and lots of experimentation wi

[2021-06-12 18:28] paul-shannon commented on #45
@Dharna5599, I left set.seed out of my little demo, leaving it as an exercise for you to figure out :)
Puzzle through this question:   how many times in your program do you need to call ```set.seed```?
Zero? Once?   With every button  click?

[2021-06-12 19:18] Dharna5599 commented on #45
Ok @paul-shannon , I will try to figure it out and work on this.

[2021-06-14 13:18] paul-shannon commented on #45
Hi @Dharna5599.    ```set.seed(17)``` should be called only once, as the shiny app starts up.
This gives us reproducability.  And also achieves the desired effect:  every button press produces a different scatterplot.

The current version is structured like this:
[code]
This produces the same numbers with every click

This is the structure what we want:
[code]

[2021-06-14 13:47] Dharna5599 commented on #45
Hey @paul-shannon,
You are correct. I was working yesterday and discovered where I was making mistakes and corrected them. In the shiny app, I need to first set the set.seed only once initially in order to get the required result. In the new branch, I've also done the necessary changes.

[2021-06-14 14:25] paul-shannon commented on #45
@Dharna5599.   Well done!
I just pushed two small changes, nothing of substance:  a conditional ```runApp()``` at the bottom, and a makefile.   This allows us to run the app from bash, simply by typing ```make```.

I have two requests for you now, in continued pursuit of this issue and task, your exploration of shinytest with this now-solid demo.    First, a small request to clean up the repo:

-

[2021-06-14 15:37] Dharna5599 commented on #45
Yes @paul-shannon,
I get a clear understanding of both the goal and the work. In addition, I updated the now-solid demo. Please check to see if I completed everything correctly or if there are any modifications that need to be made.

[2021-06-16 23:33] paul-shannon commented on #45
@Dharna5599
Yesterday we explored how your version of the scatterplot shinytest depended upon RStudio.  I explained thatfor automated package building, and for R CMD check - which is needed for submission to both Bioconductor and CRAN - that the shinytests must run from the shell (from bash).

Here is a full working demonstration of that approach,  in the ```abandonWebPack-try2``` branch:
[code]
Y

[2021-06-17 09:14] Dharna5599 commented on #45
Sure @paul-shannon
Thank you

[2021-06-24 13:36] paul-shannon commented on #45
@Dharna5599 - excellent work figuring out how to do explicit shiny font selection.
With this problem solved, and the solution added to dharnashinyTestDemonstration:
- re-record the tests of your scatterplot app
- make sure that a fresh test, from bash, passes for you
- push the changes, notify me here
- I will verify that your tests pass

This sets you up for the next task, the problem that go us

[2021-06-24 14:22] Dharna5599 commented on #45
Thank you @paul-shannon,
I have also pushed the required changes you want me to do in dharnashinyTestDemonstration. Kindly review it.

[2021-06-24 15:06] paul-shannon commented on #45
thanks @Dharna5599 .  I see your good use of the same font, but alas, the rendering is still slightly different.
google ```shinytest "font"``` and you will see others have seen the problem.
A truly universal solution seems unlikely - or more fuss than we want.

Here is a proposed workaround:   a successful test is always run against a recorded test ```on the same computer```

This is a disappointm

[2021-06-24 15:11] paul-shannon opened #46 "cyjs instrospective testing"
@Dharna5599

cytoscape.js can tell us quite a bit about the current graph, and the current view.

Imagine an automated test which:

1. creates a 3-node, 3-edge network
2. from R, we use the cyjShiny API, asking "what is the current network?"
3. then in R, we check the expected network structure against the reported one
4. then in R, programmatically select one node
5. in R, query for the selected

[2021-06-25 07:34] Dharna5599 commented on #46
Hey @paul-shannon,
I am sorry but I'm not sure I get your viewpoint. Could you please be more specific and, if possible, can you please provide an example test programme so that I may better comprehend your point or else you can brief about it.

Thank you

[2021-06-26 12:44] paul-shannon commented on #46
@Dharna5599 - sorry for my delay in answering.   I have a report to the NIH due Monday which is keeping me busy.

Perhaps the best way for you to get started on our new approach to cyjShiny testing is to install and learn to use my companion package RCyjs: https://bioconductor.org/packages/release/bioc/html/RCyjs.html

This package also connects R to cytoscape.js running in the browser.   It is mo

[2021-06-27 03:22] Dharna5599 commented on #46
Ok @paul-shannon,
Thanks, I will go through it.

[2021-07-06 15:03] paul-shannon commented on #45
this issue taught us that shinytest is a poor match to our needs.
"introspective" testing is our new approach,  a first example now implemented in ```unitTests/test_selection.R```

[2021-07-06 15:03] #45 closed

[2021-07-06 15:05] paul-shannon commented on #42
this and other shinytest eccentricities led me to discard shinytest, instead using the approach demonstrated in ```unitTests/test_selection.R```

[2021-07-06 15:05] #42 closed

[2021-07-06 15:06] paul-shannon commented on #46
this strategy is sound, now demonstrated in ```unitTests/test_selection.R``` the first of many such bash-callable + interactive shiny apps in R6 classes.

[2021-07-06 15:06] #46 closed

[2021-07-06 15:09] paul-shannon commented on #33
this issue was part of finding our way into a robust testing strategy, now demonstrated in ```unitTests/test_selection.R```
with that strategy settled upon, I am closing this issue, starting new issues, one per cyjShiny R/js feature

[2021-07-06 15:09] #33 closed

[2021-07-06 15:12] paul-shannon commented on #31
@cannin This is now solved.   See the htmlwidget directory, its yaml file, and the layout libraries included there.  webpack is not needed yet plugins are easy to add.   I cribbed this approach from https://github.com/unistbig/shinyCyJS

[2021-07-06 15:12] #31 closed

[2021-07-06 15:14] paul-shannon commented on #29
complete.   see ```cyjShiny/inst/htmlwidgets``` and especially the yaml file, and the lib directories.  the htmlwidget builds, run out of R CMD build, neatly assembles all the javascript code into the package.

[2021-07-06 15:14] #29 closed

[2021-07-06 15:15] paul-shannon commented on #22
@cannin Is this still a problem?   Dharna and I do not run into at present.

[2021-07-06 15:16] paul-shannon commented on #18
closing this due to inactivity.

[2021-07-06 15:16] #18 closed

[2021-07-06 15:17] paul-shannon commented on #26
successful in branch ```abandonWebPack-try2```
will keep the issue open until we merge this with master

[2021-07-06 15:19] paul-shannon commented on #12
solved long ago by ```R/ graphsToJSON.R```, tested in ```inst/unitTests/test_graphsToJSON.R```

[2021-07-06 15:19] #12 closed

[2021-07-06 15:29] paul-shannon opened #47 "learn R6 unitTest idiom by evolving from minimal helloWorld shiny app"
@Dharna5599,

As we discussed, your goal is to acquire complete familiarity with the R6 unitTest strategy used in ```unitTests/test_selection.R```.  There is quite a lot to grasp here, and it must be grasped deeply for you to add the large number of feature-by-feature unitTests for cyjShiny we need for package submission.

The plan:
1.  write the simplest possible, traditionally structure shiny ap

[2021-07-06 15:36] Dharna5599 commented on #47
Hey @paul-shannon , I have worked on your 1st plan..please look at this directory on inst/unitTests/Hello_world.R

[2021-07-06 15:44] paul-shannon commented on #47
@Dharna5599 - a good start.   Here are some suggestions.

Remove  most of the white space.   For instance, the blank line between the two widget constructors in the ui.
Use names which are descriptive, and camel case rather than underscores.
    rather than, "Print_Hello", I suggest "printHelloButton"
    rather than "Server_Hello", "textDisplay"

```# Run the application``` tells us nothing we do

[2021-07-06 16:16] Dharna5599 commented on #47
@paul-shannon, thank you for the suggestion..I will surely look upon that.

[2021-07-08 16:27] Dharna5599 commented on #47
Hey @paul-shannon, I made the necessary adjustments and embedded code in the R6 structure. Kindly have a look at the same directory inst/unitTests/Hello_world.R.

[2021-07-24 00:03] paul-shannon commented on #47
@Dharna5599
I just pushed  inst/demos/simple_R6_shiny.R  for you to study.

[2021-07-27 15:33] paul-shannon commented on #47
@Dharna5599 - good zoom meeting just now.  Thank you.
Two coding strategies (maybe "meta-strategies"):

1. develop your code incrementally, just one new feature at a time( one new line, or block of code, or function, or shiny widget).  Be humble, be pessimistic, expect things to fail, due to a small problem, or maybe a large conceptual problem
2. when a new feature does not work, then EXTRACT that

[2021-07-27 17:19] Dharna5599 commented on #47
@paul-shannon thankyou soo much
Sure I will do it.

[2021-07-30 14:39] Dharna5599 commented on #47
Hey @paul-shannon, I have pushed the required code for the given task. Please have a look at it.

[2021-07-30 14:54] paul-shannon commented on #47
No changes in simple_R6_shiny.R!

[2021-07-30 16:39] Dharna5599 commented on #47
Can you please recheck, I missed the commit. Sorry for inconvenience!

[2021-07-30 16:39] Dharna5599 commented on #47
Can you please recheck, I missed the commit. Sorry for inconvenience!

[2021-07-30 16:40] Dharna5599 commented on #47
Can you please recheck, I missed the commit. Sorry for inconvenience!

[2021-07-30 16:41] Dharna5599 commented on #47
Can you please recheck, I missed the commit. Sorry for inconvenience!

[2021-08-01 16:18] paul-shannon commented on #47
Looks good, @Dharna5599!   Now we want the ```textOutputDisplay``` to  always display private$currentValue.

At the start of the program, it will display a zero.  With every click of the ```incrementValueButton```,  textOutputDisplay will update to display the newly incremented value.

Some questions and suggestions (and thinking out loud):

1.  can shiny observe private$currentValue?   I am not s

[2021-08-01 17:48] Dharna5599 commented on #47
Sure @paul-shannon, I will. Thankyou

[2021-08-02 16:23] Dharna5599 commented on #47
Hey @paul-shannon, As you suggested, I tried and experimented with the code and discovered that shiny observes the private$currentValue, thus we don't need to create reactive values in this instance. Thus I have pushed the updated version of code in github and on starting the program, it just displays zero. Perhaps on clicking the incrementValueBtton, the textOutputDisplay gets updated. Kindly hav

[2021-08-08 15:28] paul-shannon commented on #47
@Dharna5599 - let's tentatively close this issue, based on your good work  inst/demos/ simple_R6_shiny.R.
 We can re-open if necessary.

Please move on to the new issue I am about to create - automated testing for the cyjShiny function selectFirstNeighbors .

[2021-08-08 15:28] #47 closed

[2021-08-08 15:33] paul-shannon opened #48 "automated testing of selectFirstNeighbors"
@Dharna5599,

Following (closely!) the programming style and logic of inst/unitTests/test_selection.R, please create a test script ```test_firstNeighborSelection``` which invokes, and tests the reliability, of this function in ```R/cyjShiny.R```:

#' selectFirstNeighbors of the currently selected nodes
#'
#' @param session a Shiny Server session object.
#'
#' @aliases selectFirstNeighbors
#' @rdna

[2021-08-08 18:13] Dharna5599 commented on #48
ok @paul-shannon, I will work on this

[2021-08-23 18:14] cannin opened #49 "Warning: 'Found 'inst/doc/makefile': should be 'Makefile' and will be ignored'"
Fix name or put in .Rbuildignore 'Found 'inst/doc/makefile': should be 'Makefile' and will be ignored'

[2021-08-23 18:15] cannin opened #50 "Move docs content to README.md"
CHECK issue (see https://github.com/cytoscape/cyjShiny/actions/runs/1159662734)

Non-standard file/directory found at top level:

  'docs'

I suggest moving the contents to README.md. Documentation content in other places wiki and docs is minor and often gets forgotten. I recently was contacted by someone who was still building the package with old wiki instructions.

[2021-08-23 19:15] cannin opened #51 "Change to cyjShiny version 2.x?"
Bump up to 2?

# Pros
* The build process is sufficiently different

# Cons
* No user incompatibilities have been added over summer